
.container{
    padding: 24px;
}
.oneStyle {
    font-size: 36px;
    color: orange;
    background-color: red;
}
.tStyle{
    color: blue;
}

.twoStyle {
    font-size: 36px;
    color: #333;
    background-color: green;
}

.threeStyle {
    font-size: 36px;
    color: orange;
    background-color: gray;
}
.seck{
   color: black;
}